
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');




 
 
 
 #about{
    background-color: rgb(172, 248, 248);
    border: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(240, 154, 126, 0.3);
}
#{

}